html {
  background-color: #9796BD;
}

.App-body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #696890;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: larger;
  font-weight: bold;
  max-height: 40px;
}

.App-link {
  color: #61dafb;
}

#loginbutton, #signupbutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

#loginbutton {
  background-color: #A5A4E8;
} 

#signupbutton {
  background-color: #444383;
}

#buttons {
  display: flex;
  gap: 15px;
}

.modal {
  background-color: #aeaeae;
  padding: 20px;
  border-radius: 10px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}